# Node
node_modules/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Allure
allure-results/
allure-report/

# Environment
.env
.env.*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
coverage/